*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

p{
    color: white;
    padding: 6px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
   }

   nav{
    height: 50px;
    background-color: black;
}

nav h1{
   position: absolute;
   width: 300px;
   top: 8px;
   left: 5%;
   color: white;
   text-transform: uppercase;
}

nav ul{
    float: right;
    margin-right: 25px;
    list-style: none;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}

nav ul li a{
    position: relative;
    padding: 5px 0;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:before{
    content: '';
    width: 0px;
    height: 3px;
    background: rgb(219, 223, 17);
    position: absolute;
    top: 120%;
    left: 0;
    transition: .5s;
}

nav ul li:hover a:before{
    width: 50%;
    transform: translateX(100%);
}

label #sign-one,
label #sign-two{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#res-menu{
    display: none;
}

.page-title {
    padding-left: 25px;
    padding-top: 6px;
}

.page-title:before {
    content: '\f168';
    font-family: fontAwesome;
    position: absolute;
    left: 0;
    top: 8px;
}
.banner-area{
    background-image: url(../images/gray.jpg); 
    -webkit-background-size: 100%;
    background-size: 100% auto;
    position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
}
.banner-text{
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text h1{
    position: absolute;
    right: 0;
    top: 50vh;
    margin-right: 12%;
    font-size: 8vw;
}
.header-text h2{
    position: absolute;
    right: 0;
    top: 68vh;
    margin-right: 15%;
    font-size: 4.5vw;
    justify-self:center ;
    letter-spacing: 0.1em;
}
.banner-text h1,h2{
    color: white;
    margin-top: -140px;
    text-align: center;
}

.banner-text h2{
    display: block;
}

.social {
    position: absolute; 
    background: black;
    padding: 0 0 0 20px;
    border-radius: 0 0 0 0;
    left: 0;
    top: 30vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }
  
  a{
    text-decoration: none;
    color: inherit;
    color: white;
  }
  
  .social > a {
    border: 3px solid black;
    border-radius: 50%;
    padding: 5px;
    margin: 5px 0;
    display: inline-flex;
  }
  .social > a:hover{
    color: rgb(219, 223, 17);
  }

  .simple_text{
    background-color: rgba(0, 0, 0, 0.925);
    padding: 4% 15% 4% 15%;
    line-height: 2em;
    text-align: center;
  }

  .icon{
    width: 7.5em;
    height: 5.5em;
}

/* .row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
  } */

.row {
    margin-top: 0.0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgb(0, 0, 0);
    overflow: hidden;
  }

  /* .col {
    flex: 1 1 8%;
    margin: 0 0 0.5rem 0;
    padding: 0.5em 10px;
    box-sizing: border-box;
  } */

  .col1 {
    flex: 1 1 8%;
    margin: 0 0 0.0rem 0;
    padding: 7% 0 7% 0;
    box-sizing: border-box;
  }

  .col-span-2 {
    flex-basis:25%;
    position: relative;
  }

  .log{
    display: inline-block;
    width: 100px;
    height: 82px;
    background-color: rgba(0, 0, 0, 0.822);
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .log1{
    display: inline-block;
    width: 100px;
    height: 82px;
    background-color: rgba(0, 0, 0, 0.925);
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-span-2 {
    position: relative;
    overflow: hidden;
  }
  
  .col-span-2::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  .col-span-2:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
  }
  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }

  .des_parag{
    background-color: rgba(0, 0, 0, 0.925);
    padding: 4% 15% 4% 15%;
    line-height: 2em;
    text-align: center;
  }

  .des_parag h3{
    color:white;
    letter-spacing: 1px;
    font-weight: lighter;
  }

  .hire_btn{
    background: rgba(220, 223, 17, 0.877);
    display: inline-block;
    padding: 0.5% 4% 0.5% 4%;
    margin: 1.5em 0 0 0;
    cursor: pointer;
    border-radius: 1.5px;
    position: relative;
    transition: 0.5s;
    overflow:hidden;
  }

  .hire_btn a{
    color: black;
  }
.hire_btn:hover{
    background-color: yellow;
}
.hire_btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;
}
.hire_btn:hover::before
{
    left: 100%;
}

.contact{
    padding: 4% 5% 1% 5%;
    background-color: black;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact_title .line{
    border-top: 4px solid yellow;
    height: 10px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.contact_title .line:hover
{
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 15%;
}
.gap {
    margin-bottom: 10px;
}
.contact ::selection {
    color:#7F8289;
    border: 1px solid #26292E;

}
.contact ::-moz-selection { /* For Firefox */
    color:#7F8289;
    border: 1px solid #26292E;

}
.contact .form_container{
    max-width:50em;
    margin:60px auto;
    float:none;
}

input, textarea{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}

.contact .form_container input[type="email"], .contact .form_container  textarea {
    /* color:#7F8289; */
    font-size: 14px;
    padding: 15px 0;
    width: 100%;
    padding-left:10px;
    background:#26292E;
    margin-bottom:20px;
    border:0;
    border:1px solid #26292E;
    position:relative;
    letter-spacing: 1px;
}

.contact .form_container input[type="text"] {
    /* color:#7F8289; */
    font-size: 14px;
    padding: 15px 0;
    width: 49%;
    padding-left:10px;
    background:#26292E;
    margin:0px 0px 20px 0px;
    border:0;
    border:1px solid #26292E;
    /* display: flex; */
    position:relative;
    letter-spacing: 1px;
}

.contact .form_container #name2{
    margin-left: 10px;
}

.contact .form_container input[type="submit"] {
    float:none;
    border:none;
    border-radius: 2px;
    padding:14px 5%;
    line-height:14px;
    cursor:pointer;
    font-size:14px;
    color:#000;
    -webkit-appearance: none;
    background: rgba(220, 223, 17, 0.877);
    transition: 0.5s;
    overflow:hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    position: relative;
}

.contact .form_container input[type="submit"]:hover{
    background-color: yellow;
}
.contact .form_container input[type="submit"]::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;
}
.contact .form_container input[type="submit"]::before
{
    left: 100%;
}


  @media only screen and (min-width: 360px){
    .col-span-1 {
        flex-basis: 100%;
    }

    .header-text h1{
        top: 29vh;
    }
    .header-text h2{
        top: 36vh;
    }
    .social {
        top: 8vh;
      }

    .icon{
        width: 5.5em;
        height: 3.5em;
    }
}

@media(max-width: 870px){
    label #sign-one{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 25px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #res-menu:checked ~ ul{
    left: 0;
    }
    #res-menu:checked ~ label #sign-one{
        display: none;
    }
    #res-menu:checked ~ label #sign-two{
        display: block;
    }

    .col-span-2{
        flex-basis: 50%;
    }

    .icon{
        width: 5.5em;
        height: 3.5em;
    }
}

@media only screen and (max-width: 600px){
    .col-span-2 {
        flex-basis: 100%;
    }
    .header-text h1{
        top: 29vh;
        margin-right: 12%;
        font-size: 8vw;
    }
    .header-text h2{
        top: 39vh;
        margin-right: 15%;
        font-size: 4.5vw;
    }
    .icon{
        width: 5.5em;
        height: 3.5em;
    }
    .banner-area{
        height: 30.5vh;
    }
    .social {
        top: 4.5vh;
    }
    .social a{
        font-size: 15px;
    }
}

@media only screen and (min-width: 600px){
    .header-text h1{
        top: 30vh;
        margin-right: 12%;
        font-size: 8vw;
    }
    .header-text h2{
        top: 40vh;
        margin-right: 15%;
        font-size: 4.5vw;
    }
    .icon{
        width: 5.5em;
        height: 3.5em;
    }
    .banner-area{
        height: 40vh;
    }
}

@media only screen and (min-width: 768px){
    .col-span-2 {
        flex-basis: 25%;
      }
      .header-text h1{
        top: 40vh;
        margin-right: 12%;
        font-size: 8vw;
    }
    .header-text h2{
        top: 50vh;
        margin-right: 15%;
        font-size: 4.5vw;
    }
    .social {
        top: 30vh;
    }
    .icon{
        width: 5.5em;
        height: 3.5em;
    }
    /* .banner-area{
        height: 50vh;
    } */
    .social a{
        font-size: 15px;
    }
    .banner-area{
        height: 70vh;
    }
}

@media only screen and (min-width: 992px){
    .col-span-2 {
        flex-basis: 25%;
      }
      .header-text h1{
        top: 25vh;
        margin-right: 12%;
        font-size: 8vw;
    }
    .header-text h2{
        top: 35vh;
        margin-right: 15%;
        font-size: 4.5vw;
    }
    .icon{
        width: 7.5em;
        height: 5.5em;
    }
    .banner-area{
        height: 60vh;
    }
}

@media only screen and (min-width: 1200px){
    .col-span-2 {
        flex-basis: 25%;
      }

      .header-text h1{
        top: 50vh;
    }
    .header-text h2{
        top: 68vh;
    }
    .social {
        top: 30vh;
    }
    .icon{
        width: 7.5em;
        height: 5.5em;
    }
    .banner-area{
        height: 100vh;
    }
}

@media only screen and (orientation: portrait){

}

@media only screen and (orientation: landscape){

}
@media only screen and (max-width: 414px){
    .col-span-2 {
        flex-basis: 100%;
    }
    .header-text h1{
        top: 29vh;
    }
    .header-text h2{
        top: 36vh;
    }
    .social {
        top: 3vh;
    }
    .icon{
        width: 5.5em;
        height: 3.5em;
    }
    .banner-area{
        height: 28vh;
    }
    .social a{
        font-size: 13px;
    }
}
