*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
   }

   nav{
    height: 50px;
    background-color: black;
}

nav h1{
   position: absolute;
   width: 300px;
   top: 8px;
   left: 5%;
   color: white;
   text-transform: uppercase;
}

nav ul{
    float: right;
    margin-right: 25px;
    list-style: none;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}

nav ul li a{
    position: relative;
    padding: 5px 0;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:before{
    content: '';
    width: 0px;
    height: 3px;
    /* background: rgb(219, 223, 17); */
    /* background: rgb(24, 121, 247); */
    background: rgb(245, 12, 12);
    position: absolute;
    top: 120%;
    left: 0;
    transition: .5s;
}

nav ul li:hover a:before{
    width: 50%;
    transform: translateX(100%);
}

label #sign-one,
label #sign-two{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#res-menu{
    display: none;
}

@media only screen and (max-width: 600px){
    
}

@media only screen and (min-width: 600px){
    
}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){

}

@media only screen and (min-width: 1200px){

}

@media only screen and (orientation: portrait){

}

@media only screen and (orientation: landscape){
    
}
